@import url('https://fonts.googleapis.com/css?family=Cutive|Herr+Von+Muellerhoff');
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-family: 'Cutive', serif;
}
.card {
  background-image: url('../public/images/card-bg.png');
  width: 499px;
  height: 527px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.from {
  font-family: 'Herr Von Muellerhoff', cursive;
}
